<h1 class="page-header">Register.</h1>
<div class="container">
  <form name="register" ng-submit="auth.register()">
    <div class="col-md-6">
      <div class="form-group">
        <input ng-model="auth.user.name" type="text" class="form-control col-md-12 special-field" placeholder="Real Name" />
      </div>
      <div class="form-group">
        <input ng-model="auth.user.email" type="email" class="form-control col-md-12" placeholder="Email" ng-model="auth.user.email" />
      </div>
      <div class="form-group">
        <input ng-model="auth.user.pwd" name="pwd" type="password" class="form-control col-md-12" placeholder="Password" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control col-md-12" compare-to="auth.user.pwd" placeholder="Confirm Password" name="pwdConfirm" ng-model="pwdConfirm" />
      </div>
      <span ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Passwords do not match</span>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input ng-model="auth.user.steam_id" type="number" class="form-control col-md-12 special-field" placeholder="Steam ID" />
        <p>CONNER - Your SteamID3 is 345237110</p>
        <p>HAMILTON - 218135898</p>
        <p>CAMERON - 62566806</p>
        <p>FRANK - 84979662</p>
        <p></p>
        <p></p>
        <p>This can be found using <a href="http://steamidfinder.com/" target="_blank"><strong>this resource.</strong></a>You need to use the 'Steam 3 ID' option.</p>
      </div>
    </div>
    <div class="center-button">
      <button class="btn btn-default button-panel-button center-block" ng-disabled="register.pwdConfirm.$invalid" type="submit">Register</button>
    </div>
  </form>
</div>
</div>
